@model CreateBrandViewModel
@{
    ViewData["Title"] = "Marka Ekleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid my-5">
    <form method="post" asp-action="CreateBrand">
        <div class="form-group">
            <label asp-for="CreateBrandDTO.Name"></label>
            <input asp-for="CreateBrandDTO.Name" class="form-control" />
            <label asp-for="CreateBrandDTO.Code"></label>
            <input asp-for="CreateBrandDTO.Code" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CreateBrandDTO.Order"></label>
            <input asp-for="CreateBrandDTO.Order" class="form-control" />
        </div>
        <div class="form-check">
            <label asp-for="CreateBrandDTO.Status" class="form-check-label"></label>
            <input asp-for="CreateBrandDTO.Status" class="form-check-input" type="checkbox" />
        </div>
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </form>
</div>
