@model List<CorporateAPI.WebUI.DTOs.Page.GetPageDTO>

@{
    ViewData["Title"] = "Hakkımızda Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Çocuk Sayfalar</th>
            <th>Modüller</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                </tr>
        }
    </tbody>
</table>