<div class="srex-sponsor srex-section">
    <div class="container">
        <div class="srex-sponsor__items wow fadeInUp" data-wow-duration="1.5s">
            <a href="#" class="zirox-brand__items-item">
                <img src="~/solarex/assets/images/sponsor/sponsor-2.png" alt="Envato">
            </a>
            <a href="#" class="zirox-brand__items-item">
                <img src="~/solarex/assets/images/sponsor/sponsor-3.png" alt="Envato">
            </a>
            <a href="#" class="zirox-brand__items-item">
                <img src="~/solarex/assets/images/sponsor/sponsor-4.png" alt="Envato">
            </a>
            <a href="#" class="zirox-brand__items-item">
                <img src="~/solarex/assets/images/sponsor/sponsor-2.png" alt="Envato">
            </a>
            <a href="#" class="zirox-brand__items-item">
                <img src="~/solarex/assets/images/sponsor/sponsor-3.png" alt="Envato">
            </a>
            <a href="#" class="zirox-brand__items-item">
                <img src="~/solarex/assets/images/sponsor/sponsor-4.png" alt="Envato">
            </a>
        </div>
    </div>
</div>