<section class="srex-features srex-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6 col-12">
				<div class="srex-features__left text-left">
					<div class="srex-section__head">
						<h5 class="srex-section__head__badge wow ud-fade-in-up" data-wow-delay="200ms">
							<img src="~/solarex/assets/images/badge-icon.svg"
								 alt="Badge Icon">
							Our Features
						</h5>
						<h2 class="srex-section__head__title wow ud-fade-in-up" data-wow-delay="250ms">
							Harness the power of the sun with solar
							energy!
						</h2>
						<p class="mb-5  wow ud-fade-in-up" data-wow-delay="200ms">
							Nullam vel nibh facilisis lectus fermentum
							ultrices quis non risus. Lore ipsum dolor
							sit amet, consectetur adipiscing elit. In
							hac habit asse pla dictumst. Duis porta,
							quam ut finibus ultrices, lorem lacus
						</p>
						<a href="./about-us.html" class="srex-btn srex-btn--outline wow ud-fade-in-up" data-wow-delay="200ms">
							Read More <i class="fa-solid fa-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-12">
				<div class="srex-info-box srex-info-box--feature-box">
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="srex-info-box__item wow ud-fade-in-up" data-wow-duration="1s">
								<div class="d-flex justify-content-between align-items-center">
									<div class="srex-info-box__item__img">
										<img src="~/solarex/assets/images/home-one/features/features-1.svg"
											 class="srex-info-box__item__logo"
											 alt="GreenSun Support">
									</div>
								</div>
								<h3 class="srex-info-box__item__text">
									GreenSun Support
								</h3>
								<p class="mb-3">
									Lorem ipsum dolor sit amet cut co
									sect. Proin viverra
								</p>
								<div class="srex-info-box__more">
									<a href="./service-details.html">
										Read More
										<i class="fa-solid fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="srex-info-box__item wow ud-fade-in-up" data-wow-duration="1.3s">
								<div class="d-flex justify-content-between align-items-center">
									<div class="srex-info-box__item__img">
										<img src="~/solarex/assets/images/home-one/features/features-2.svg"
											 class="srex-info-box__item__logo"
											 alt="BrightSun Support">
									</div>
								</div>
								<h3 class="srex-info-box__item__text">
									BrightSun Support
								</h3>
								<p class="mb-3">
									Lorem ipsum dolor sit amet cut co
									sect. Proin viverra
								</p>
								<div class="srex-info-box__more">
									<a href="./service-details.html">
										Read More
										<i class="fa-solid fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="srex-info-box__item wow ud-fade-in-up" data-wow-duration="1.6s">
								<div class="d-flex justify-content-between align-items-center">
									<div class="srex-info-box__item__img">
										<img src="~/solarex/assets/images/home-one/features/features-3.svg"
											 class="srex-info-box__item__logo"
											 alt="SolarPro Solutions">
									</div>
								</div>
								<h3 class="srex-info-box__item__text">
									SolarPro Solutions
								</h3>
								<p class="mb-3">
									Lorem ipsum dolor sit amet cut co
									sect. Proin viverra
								</p>
								<div class="srex-info-box__more">
									<a href="./service-details.html">
										Read More
										<i class="fa-solid fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="srex-info-box__item wow ud-fade-in-up" data-wow-duration="1.9s">
								<div class="d-flex justify-content-between align-items-center">
									<div class="srex-info-box__item__img">
										<img src="~/solarex/assets/images/home-one/features/features-4.svg"
											 class="srex-info-box__item__logo"
											 alt="EcoSolar Services">
									</div>
								</div>
								<h3 class="srex-info-box__item__text">
									EcoSolar Services
								</h3>
								<p class="mb-3">
									Lorem ipsum dolor sit amet cut co
									sect. Proin viverra
								</p>
								<div class="srex-info-box__more">
									<a href="./service-details.html">
										Read More
										<i class="fa-solid fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>