<section class="srex-hero-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="srex-hero-one__box wow ud-fade-in-left" data-wow-delay="200ms">
                    <h1 class="srex-hero-one__box__text">
                        <span class="srex-hero-one__box__text__top d-flex align-items-center gap-3 justify-content-between">
                            Power For
                            <span class="srex-hero-one__box__text__top__line"></span>
                        </span>
                        A Sustainable Future <br>
                        with <span>Güneş Enerjisi</span>
                    </h1>
                    <p class="srex-hero-one__box__desc">
                        Nullam vel nibh facilisis lectus fermentum
                        ultrices quis non risus. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. In hac
                        habitasse platea dictumst.
                    </p>

                    <a href="#" class="srex-btn srex-btn--outline">
                        Discover More <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="d-flex gap-2 align-items-center justify-content-between wow ud-fade-in-up" data-wow-delay="200ms">
                    <div class="srex-hero-one__left__enery__efficient">
                        <h2>70%</h2>
                        <p>Energy Efficient</p>
                    </div>
                    <div class="srex-hero-one__left__img">
                        <img src="~/solarex/assets/images/home-one/hero-img-1.png"
                             alt="Solar Panel">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="srex-hero-one__right wow ud-fade-in-right" data-wow-delay="200ms">
                    <img src="~/solarex/assets/images/home-one/hero-img-2.png"
                         alt="Women with Solar Panel">
                </div>
            </div>
        </div>
    </div>
</section>