@model ResultPageDTO
@{
    var menuData = ViewBag.MenuData as List<ResultMenuDTO>;
    var settingData = ViewBag.SettingData as ResultSettingDTO;
}
@{
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<h1>@Model.PageTranslations.FirstOrDefault().Title</h1>