<section class="srex-blog-one srex-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="srex-blog-one__title">
                    <div class="srex-section__head wow ud-fade-in-left" data-wow-delay="200ms">
                        <h5 class="srex-section__head__badge">
                            <img src="~/solarex/assets/images/badge-icon.svg"
                                 alt="Badge Icon">
                            Blog & News
                        </h5>
                        <h2 class="srex-section__head__title">
                            Shine Brighter with Solar
                        </h2>
                    </div>
                    <a href="./blog.html" class="srex-btn srex-btn--primary wow ud-fade-in-right" data-wow-delay="200ms">
                        More Blogs <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <div class="srex-blog-one__post wow ud-fade-in-up" data-wow-delay="250ms">
                    <a href="blog-details.html" class="srex-blog-one__post__img">
                        <img src="~/solarex/assets/images/home-one/blog/blog-1.png"
                             alt="Blog">
                    </a>
                    <div class="d-flex gap-5 mt-2">
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-calendar-alt"></i>
                            <h6>October 19, 2022</h6>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-user-alt"></i>
                            <h6>Admin</h6>
                        </div>
                    </div>
                    <h3><a href="blog-details.html">Explore the world like never before travel experience</a></h3>
                    <a href="~/solarex/blog-details.html" class="srex-btn srex-btn--outline">
                        Read More<i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <div class="srex-blog-one__post wow ud-fade-in-up" data-wow-delay="400ms">
                    <a href="blog-details.html" class="srex-blog-one__post__img">
                        <img src="~/solarex/assets/images/home-one/blog/blog-2.png"
                             alt="Blog">
                    </a>
                    <div class="d-flex gap-5 mt-2">
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-calendar-alt"></i>
                            <h6>October 19, 2022</h6>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-user-alt"></i>
                            <h6>Admin</h6>
                        </div>
                    </div>
                    <h3><a href="blog-details.html">Explore the world like never before travel experience</a></h3>
                    <a href="~/solarex/blog-details.html" class="srex-btn srex-btn--outline">
                        Read More<i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <div class="srex-blog-one__post wow ud-fade-in-up" data-wow-delay="600ms">
                    <a href="blog-details.html" class="srex-blog-one__post__img">
                        <img src="~/solarex/assets/images/home-one/blog/blog-3.png"
                             alt="Blog">
                    </a>
                    <div class="d-flex gap-5 mt-2">
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-calendar-alt"></i>
                            <h6>October 19, 2022</h6>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-user-alt"></i>
                            <h6>Admin</h6>
                        </div>
                    </div>
                    <h3><a href="blog-details.html">Explore the world like never before travel experience</a></h3>
                    <a href="~/solarex/blog-details.html" class="srex-btn srex-btn--outline">
                        Read More<i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>