@using CorporateAPI.WebUI.DTOs.Home
@model ResultHomeDTO
<section class="srex-about-us-one srex-section">
@foreach (var item in Model.HomeTranslations)
    {
        <h1>@item.Url</h1>
        <h1>@item.Content</h1>
    }
    <div class="srex-about-us-one__container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="srex-about-us-one__left text-left">
                    <div class="srex-section__head">
                        <h5 class="srex-section__head__badge wow ud-fade-in-up" data-wow-delay="200ms">
                            <img src="~/solarex/assets/images/badge-icon.svg"
                                 alt="Badge Icon">
                            About US
                        </h5>
                        <h2 class="srex-section__head__title wow ud-fade-in-up" data-wow-delay="200ms">
                            Embrace the power the sun with solar energy!
                        </h2>
                        <p class="srex-section__head__desc wow ud-fade-in-up" data-wow-delay="200ms">
                            Nullam vel nibh facilisis lectus fermentum
                            ultrices quis non risus. Lore m ipsum dolor
                            sit amet, consectetur adipiscing elit. In
                            hac habi
                        </p>

                        <div class="srex-icon-list wow ud-fade-in-up" data-wow-delay="200ms">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    <p>
                                        Redefining Energy with Solar
                                        Technology
                                    </p>
                                </li>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    <p>Unleash the Power of the Sun</p>
                                </li>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    <p>
                                        Solar Solutions for a Brighter
                                        Tomorrow
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <a href="./about-us.html" class="srex-btn srex-btn--outline wow ud-fade-in-up" data-wow-delay="200ms">
                            Read More <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 px-0">
                <div class="srex-about-us-one__right">
                    <img src="~/solarex/assets/images/about-us/about-us.png"
                         alt="About Us"
                         class="srex-about-us-one__right__img wow ud-fade-in-up" data-wow-delay="200ms">
                    <div>
                        <div class="srex-about-us-one__right__box d-flex gap-3 wow fadeInUp" data-wow-duration="1.3s">
                            <img src="~/solarex/assets/images/about-us/medal.png"
                                 alt="Medal">
                            <div class="srex-about-us-one__right__box__text">
                                <h2>15+</h2>
                                <p>Years of experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>