<section class="srex-news-letter srex-section">
    <div class="container">
        <div class="srex-news-letter__box wow ud-fade-in-up" data-wow-delay="200ms">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="srex-news-letter__box__left">
                        <img src="~/solarex/assets/images/home-one/letter/news-letter-icon.svg"
                             class="srex-info-box__item__logo"
                             alt="NewsLetter">
                        <h3>Subscribe your E-mail for Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="srex-news-letter__box__right">
                        <form class="text-center">
                            <input placeholder="Enter your email" type="text">
                            <button type="button" class="srex-btn srex-btn--primary">
                                Subscribe <i class="fa-solid fa-plus"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>