<section class="srex-question srex-section">
    <div class="container">
        <div class="srex-question__title">
            <div class="srex-section__head wow ud-fade-in-up" data-wow-delay="200ms">
                <h5 class="srex-section__head__badge">
                    Recently asked
                </h5>
                <h2 class="srex-section__head__title">
                    asked any questions
                </h2>
                <p class="mb-5 mt-3">
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when
                    looking at its layout
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="srex-question__left">
                    <img src="~/solarex/assets/images/question/question.png"
                         alt="Question_img">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="srex-question__right wow ud-fade-in-up" data-wow-duration="1.7s">
                    <div class="srex-accordion accordion" id="faq">
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                                    <div class="accordion-header__left">
                                        <p class="accordion-header__left__badge">01</p>
                                        <h3>What is Equality and solidarity?</h3>
                                    </div>
                                    <i class="fa-solid fa-angle-down open"></i>
                                    <i class="fa-solid fa-angle-up close"></i>
                                </div>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faq">
                                <div class="accordion-body">
                                    The generated is therefore always free from repetition, injected humour, or words etc.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                                    <div class="accordion-header__left">
                                        <p class="accordion-header__left__badge">02</p>
                                        <h3>How to inspire humanity?</h3>
                                    </div>
                                    <i class="fa-solid fa-angle-down open"></i>
                                    <i class="fa-solid fa-angle-up close"></i>
                                </div>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faq">
                                <div class="accordion-body">
                                    The generated is therefore always free from repetition, injected humour, or words etc.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo" role="button">
                                    <div class="accordion-header__left">
                                        <p class="accordion-header__left__badge">03</p>
                                        <h3>Where are Better living programs?</h3>
                                    </div>
                                    <i class="fa-solid fa-angle-down open"></i>
                                    <i class="fa-solid fa-angle-up close"></i>
                                </div>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faq">
                                <div class="accordion-body">
                                    The generated is therefore always free from repetition, injected humour, or words etc.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>