<section class="srex-testimonial-one srex-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-12">
                <div class="srex-testimonial-one__left text-left">
                    <div class="srex-section__head">
                        <h2 class="srex-section__head__title wow fadeInLeft" data-wow-duration="0.6s">
                            What our clients say?
                        </h2>
                    </div>

                    <div class="srex-testimonial-one__slider wow ud-fade-in-up" data-wow-delay="200ms">
                        <div class="srex-testimonial-one__slider__item">
                            <img src="~/solarex/assets/images/quote.svg"
                                 alt="Quote"
                                 class="srex-testimonial-one__slider__item__quote">
                            <p class="srex-testimonial-one__slider__item__text">
                                "Nullam vel nibh facilisis lectus fermentum
                                ultrices quis non risus. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. In
                                hac habitasse platea dictumst. Duis porta,
                                quam ut finibus ultrices, lorem lacus
                            </p>
                            <div class="srex-testimonial-one__slider__item__author">
                                <h3>John Doe</h3>
                                <p>CEO, WindVista Solutions</p>
                            </div>
                        </div>

                        <div class="srex-testimonial-one__slider__item">
                            <img src="~/solarex/assets/images/quote.svg"
                                 alt="Quote"
                                 class="srex-testimonial-one__slider__item__quote">
                            <p class="srex-testimonial-one__slider__item__text">
                                "Nullam vel nibh facilisis lectus fermentum
                                ultrices quis non risus. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. In
                                hac habitasse platea dictumst. Duis porta,
                                quam ut finibus ultrices, lorem lacus
                            </p>
                            <div class="srex-testimonial-one__slider__item__author">
                                <h3>MH Imon</h3>
                                <p>CEO, ultraDevs</p>
                            </div>
                        </div>

                        <div class="srex-testimonial-one__slider__item">
                            <img src="~/solarex/assets/images/quote.svg"
                                 alt="Quote"
                                 class="srex-testimonial-one__slider__item__quote">
                            <p class="srex-testimonial-one__slider__item__text">
                                "Nullam vel nibh facilisis lectus fermentum
                                ultrices quis non risus. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. In
                                hac habitasse platea dictumst. Duis porta,
                                quam ut finibus ultrices, lorem lacus
                            </p>
                            <div class="srex-testimonial-one__slider__item__author">
                                <h3>MD Arifuzzaman</h3>
                                <p>CEO, Creativilo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="srex-testimonial-one__right">
                    <img src="~/solarex/assets/images/home-one/testimonial/testimonial-right.png"
                         alt="Testimonial"
                         class="srex-testimonial-one__right__img">
                </div>
            </div>
        </div>
    </div>
</section>