<div class="srex-stats srex-section">
    <div class="container">
        <div class="srex-stats__items wow ud-fade-in-up" data-wow-duration="1.3s">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-12">
                    <div class="srex-stats__item">
                        <div class="srex-stats__item__icon">
                            <img src="~/solarex/assets/images/home-one/stats/awards.svg"
                                 alt="Winning Awards">
                        </div>
                        <div class="srex-stats__item__text">
                            <h2><span class="counter">20</span>+</h2>
                            <h3>Winning Awards</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-12">
                    <div class="srex-stats__item">
                        <div class="srex-stats__item__icon">
                            <img src="~/solarex/assets/images/home-one/stats/projects.svg"
                                 alt="Completed Projects">
                        </div>
                        <div class="srex-stats__item__text">
                            <h2><span class="counter">10</span>K+</h2>
                            <h3>Completed Projects</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-12">
                    <div class="srex-stats__item">
                        <div class="srex-stats__item__icon">
                            <img src="~/solarex/assets/images/home-one/stats/members.svg"
                                 alt="Team members">
                        </div>
                        <div class="srex-stats__item__text">
                            <h2><span class="counter">300</span>+</h2>
                            <h3>Team Members</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-12">
                    <div class="srex-stats__item">
                        <div class="srex-stats__item__icon">
                            <img src="~/solarex/assets/images/home-one/stats/clients.svg"
                                 alt="Clients Review">
                        </div>
                        <div class="srex-stats__item__text">
                            <h2><span class="counter">900</span>+</h2>
                            <h3>Clients Review</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>