<section class="srex-portfolio srex-section">
    <div class="container-fluid">
        <div class="srex-portfolio__title">
            <div class="srex-section__head wow ud-fade-in-up" data-wow-delay="200ms">
                <h5 class="srex-section__head__badge">
                    <img src="~/solarex/assets/images/badge-icon.svg"
                         alt="Badge Icon">
                    latest portfolio
                </h5>
                <h2 class="srex-section__head__title">
                    Embrace the power the sun with solar energy!
                </h2>
            </div>
        </div>
        <div class="controls wow ud-fade-in-up" data-wow-delay="200ms">
            <ul id="filters">
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter=".power">Power</li>
                <li class="filter" data-filter=".eco-solar">
                    Eco Solar
                </li>
                <li class="filter" data-filter=".solar-pro">
                    Solar Pro
                </li>
                <li class="filter" data-filter=".energy">Energy</li>
            </ul>
        </div>
        <div class="row" id="srex-ho-filter">
            <div class="col-md-6 col-lg-4 col-xl-3 col-12 filter-item solar-pro">
                <a href="./project-details.html">
                    <div class="srex-portfolio__item wow ud-fade-in-up" data-wow-delay="200ms">
                        <img src="~/solarex/assets/images/portfolio/portfolio-1.png"
                             alt="portfolio-1">
                        <div class="srex-portfolio__item__title">
                            <h2>01</h2>
                            <h3>Equality and solidarity</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-12 filter-item power">
                <a href="./project-details.html">
                    <div class="srex-portfolio__item wow ud-fade-in-up" data-wow-delay="200ms">
                        <img src="~/solarex/assets/images/portfolio/portfolio-2.png"
                             alt="portfolio-1">
                        <div class="srex-portfolio__item__title">
                            <h2>02</h2>
                            <h3>Windward Renewables</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-12 filter-item eco-solar">
                <a href="./project-details.html">
                    <div class="srex-portfolio__item wow ud-fade-in-up" data-wow-delay="200ms">
                        <img src="~/solarex/assets/images/portfolio/portfolio-3.png"
                             alt="portfolio-1">
                        <div class="srex-portfolio__item__title">
                            <h2>03</h2>
                            <h3>Sun Breeze Power</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-12 filter-item energy">
                <a href="./project-details.html">
                    <div class="srex-portfolio__item wow ud-fade-in-up" data-wow-delay="200ms">
                        <img src="~/solarex/assets/images/portfolio/portfolio-4.png"
                             alt="portfolio-1">
                        <div class="srex-portfolio__item__title">
                            <h2>04</h2>
                            <h3>Wind Whisper Energy</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>