<section class="srex-service srex-section">
    <div class="container">
        <div class="srex-section__head text-center">
            <h5 class="srex-section__head__badge wow ud-fade-in-up" data-wow-delay="200ms">
                <img src="~/solarex/assets/images/badge-icon.svg"
                     alt="Badge Icon">
                Our Services
            </h5>
            <h2 class="srex-section__head__title wow ud-fade-in-up" data-wow-delay="200ms">
                Unlock the potential of the sun with solar energy!
            </h2>
        </div>
        <div class="srex-info-box">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="srex-info-box__item wow ud-fade-in-up" data-wow-delay="200ms">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="srex-info-box__item__img">
                                <img src="~/solarex/assets/images/home-one/service/service-1.svg"
                                     class="srex-info-box__item__logo"
                                     alt="PowerSun Assistance">
                            </div>
                            <h2 class="srex-info-box__item__number">
                                01
                            </h2>
                        </div>
                        <h3 class="srex-info-box__item__text">
                            PowerSun Assistance
                        </h3>
                        <div class="srex-info-box__more">
                            <a href="./service-details.html">
                                Read More
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="srex-info-box__item wow ud-fade-in-up" data-wow-delay="400ms">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="srex-info-box__item__img">
                                <img src="~/solarex/assets/images/home-one/service/service-2.svg"
                                     class="srex-info-box__item__logo"
                                     alt="PowerSun Assistance">
                            </div>
                            <h2 class="srex-info-box__item__number">
                                02
                            </h2>
                        </div>
                        <h3 class="srex-info-box__item__text">
                            SolarEdge Services
                        </h3>
                        <div class="srex-info-box__more">
                            <a href="./service-details.html">
                                Read More
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="srex-info-box__item wow ud-fade-in-up" data-wow-delay="600ms">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="srex-info-box__item__img">
                                <img src="~/solarex/assets/images/home-one/service/service-3.svg"
                                     class="srex-info-box__item__logo"
                                     alt="BrightSun Support">
                            </div>
                            <h2 class="srex-info-box__item__number">
                                03
                            </h2>
                        </div>
                        <h3 class="srex-info-box__item__text">
                            BrightSun Support
                        </h3>
                        <div class="srex-info-box__more">
                            <a href="./service-details.html">
                                Read More
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="srex-info-box__item wow ud-fade-in-up" data-wow-delay="800ms">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="srex-info-box__item__img">
                                <img src="~/solarex/assets/images/home-one/service/service-4.svg"
                                     class="srex-info-box__item__logo"
                                     alt="Sun Gust Energy">
                            </div>
                            <h2 class="srex-info-box__item__number">
                                04
                            </h2>
                        </div>
                        <h3 class="srex-info-box__item__text">
                            Sun Gust Energy
                        </h3>
                        <div class="srex-info-box__more">
                            <a href="./service-details.html">
                                Read More
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="srex-info-box__item wow ud-fade-in-up" data-wow-delay="1s">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="srex-info-box__item__img">
                                <img src="~/solarex/assets/images/home-one/service/service-5.svg"
                                     class="srex-info-box__item__logo"
                                     alt="WindVista Solutions">
                            </div>
                            <h2 class="srex-info-box__item__number">
                                05
                            </h2>
                        </div>
                        <h3 class="srex-info-box__item__text">
                            WindVista Solutions
                        </h3>
                        <div class="srex-info-box__more">
                            <a href="./service-details.html">
                                Read More
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="srex-info-box__item wow ud-fade-in-up" data-wow-delay="1.2s">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="srex-info-box__item__img">
                                <img src="~/solarex/assets/images/home-one/service/service-6.svg"
                                     class="srex-info-box__item__logo"
                                     alt="SolarCrest Services">
                            </div>
                            <h2 class="srex-info-box__item__number">
                                06
                            </h2>
                        </div>
                        <h3 class="srex-info-box__item__text">
                            SolarCrest Services
                        </h3>
                        <div class="srex-info-box__more">
                            <a href="./service-details.html">
                                Read More
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>