<section class="srex-contact srex-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="srex-contact__left wow ud-fade-in-up" data-wow-duration="1.3s">
                    <form action="#">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-12">
                                <input name="full-name" placeholder="Adı" type="text" required>
                            </div>
                            <div class="col-md-6 col-12">
                                <input name="Email" placeholder="E-posta adresi" type="text" required>
                            </div>
                        </div>
                        <div>
                            <input placeholder="Telefon" type="text" name="phone" required>
                        </div>
                        <div>
                            <textarea placeholder="Mesaj" id="message" rows="5" name="message" required></textarea>
                        </div>
                        <div>
                            <button type="button" class="srex-btn srex-btn--secondary">
                                Gönder
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="srex-contact__right mt-5">
                    <div class="srex-section__head">
                        <h5 class="srex-section__head__badge wow ud-fade-in-up" data-wow-delay="200ms">
                            <img src="~/solarex/assets/images/badge-icon.svg"
                                 alt="Badge Icon">
                            Contact US
                        </h5>
                        <h2 class="srex-section__head__title wow ud-fade-in-up" data-wow-delay="200ms">Empowering Communities with Solar Energy</h2>
                        <p class="mt-2 mb-4 wow ud-fade-in-up" data-wow-duration="2.2s">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout It is a long established fact that a
                        </p>

                        <div class="srex-icon-list">
                            <ul>
                                <li class="wow ud-fade-in-up" data-wow-delay="200ms">
                                    <i class="fa-solid fa-phone"></i>
                                    <h4>
                                        <a href="tel:+6295550129">(629) 555-0129</a>
                                    </h4>
                                </li>
                                <li class="wow ud-fade-in-up" data-wow-delay="200ms">
                                    <i class="fa-solid fa-envelope"></i>
                                    <h4>
                                        <a href="mailto:info@example.com">info@example.com</a>
                                    </h4>
                                </li>
                                <li class="wow ud-fade-in-up" data-wow-delay="200ms">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <h4>
                                        6391 Elgin St. Celina, 10299
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>