@model List<ResultMenuDTO>
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- Language -->
<html lang="zxx">
<head>
   @await Html.PartialAsync("_head")
</head>
<body class="body-wrapper home-one" data-scroll-animation="true">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Header Start -->
    <header class="srex-header srex-header--home-one">
        @await Html.PartialAsync("_navbar",Model)
    </header>
    <!-- Header End -->
    @RenderBody()
    <!-- Footer Start-->
        @await Html.PartialAsync("_footer")
    <!-- Footer End -->
        @await Html.PartialAsync("_js")
</body>
</html>
