<footer class="srex-footer-two">
    <div class="container">
        <div class="srex-footer-two__top__content">
            <ul class="srex-footer-two__top__content__contact d-flex justify-content-between">
                <li>
                    <div class="srex-footer-two__top__content__contact __icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="srex-footer-two__top__content__contact __text">
                        <p>
                            Requesting A Call:
                        </p>
                        <p>
                            <a href="tel:+10987654321">+(1) 098 765 4321</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="srex-footer-two__top__content__contact __icon">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                    <div class="srex-footer-two__top__content__contact __text">
                        <p>
                            Sunday - Friday:
                        </p>
                        <h3>
                            9 am - 8 pm
                        </h3>
                    </div>
                </li>
                <li>
                    <div class="srex-footer-two__top__content__contact __icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="srex-footer-two__top__content__contact __text">
                        <p>
                            Location:
                        </p>
                        <h3>6391 Elgin St. Celina, Delaware</h3>
                    </div>
                </li>

            </ul>
        </div>
        <div class="srex-footer-two__links footer-two">
            <div class="row">
                <div class="col-12 col-lg-5 col-md-6">
                    <div class="srex-footer-two__links__logo">
                        <img src="~/solarex/assets/images/cw-energy-usa-logo.svg" style="width:200px;height:auto"
                             alt="Logo">
                        <p class="srex-footer-two__links__logo__text">Nullam vel nibh facilisis lectus fermentum ultrices quis non risus. Lore m ipsum dolor sit amet,  risus</p>

                        <ul class="srex-footer-two__links__social_links">
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-x"></i></li>
                            <li><i class="fa-brands fa-instagram"></i></li>
                            <li><i class="fa-brands fa-pinterest"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-6">
                    <div class="srex-footer__links__wrapper">
                        <h4>Useful Links</h4>
                        <div class="srex-footer__links__content">
                            <ul class="srex-footer__links__list">
                                <li>
                                    <a href="#">About US</a>
                                </li>
                                <li>
                                    <a href="#">Our Service</a>
                                </li>
                                <li>
                                    <a href="#">What We Do</a>
                                </li>
                                <li>
                                    <a href="#">Out Team</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-md-6">
                    <div class="srex-footer__links__wrapper">
                        <h4>More Service</h4>
                        <div class="srex-footer__links__content">
                            <ul class="srex-footer__links__list">
                                <li>
                                    <a href="#">Accounting</a>
                                </li>
                                <li>
                                    <a href="#">Risk Management</a>
                                </li>
                                <li>
                                    <a href="#">Accounting</a>
                                </li>
                                <li>
                                    <a href="#">Marketing</a>
                                </li>
                                <li>
                                    <a href="#">Financial</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6">
                    <div class="srex-footer__links__wrapper">
                        <h4>Newsletter</h4>
                        <div class="srex-footer__links__content">
                            <div class="srex-footer__newsletter">
                                <p>
                                    It is a long established fact that a reader will be distracted
                                </p>
                                <div class="srex-footer__form">
                                    <form class="text-center">
                                        <input placeholder="Enter your email" type="text">
                                        <button type="button">
                                            <i class="fa-solid fa-paper-plane"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-line"></div>

        <div class="srex-footer__bottom">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>
                        &copy; 2024 Solarex | All Rights Reserved
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="srex-footer__bottom__links">
                        <li>
                            <a href="#">Trams & Condition</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>