 <!-- Meta Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Page Title -->
<title>Solarex - Solar & Renewable Energy HTML Template</title>
<!-- Favicon -->
<link rel="shortcut icon" href="~/solarex/assets/images/favicon.ico">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/solarex/assets/vendors/bootstrap/css/bootstrap.min.css">
<!-- FontAwesome CSS -->
<link rel="stylesheet" href="~/solarex/assets/vendors/font-awesome/css/all.min.css">
<!-- Slick Slider CSS -->
<link rel="stylesheet" href="~/solarex/assets/vendors/slick-slider/slick.css">
<!-- Slick Slider Theme -->
<link rel="stylesheet" href="~/solarex/assets/vendors/slick-slider/slick-theme.css">

<!-- MetisMenu CSS -->
<link rel="stylesheet" href="~/solarex/assets/vendors/metismenu/metismenu.css">

<!-- Magnific Popup -->
<link rel="stylesheet" href="~/solarex/assets//vendors/magnific-popup/magnific-popup.css">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="~/solarex/assets/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,900;1,100;1,900&family=Manrope:wght@200;800&display=swap" rel="stylesheet">