<div class="srex-video srex-section">
    <div class="container-fluid">
        <div class="srex-video__box wow ud-fade-in-up" data-wow-delay="200ms">
            <a href="https://youtu.be/OdmWe7-mGGg?si=_tg2FEi2iyBikWjZ"
               class="srex-video__play__btn popup-video">
                <i class="fa-solid fa-play"></i>
            </a>
            <img src="~/solarex/assets/images/video-section.png" alt="Video">
        </div>
    </div>
</div>